################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.elf
*.hex
*.buildinfo
/Holodino.Thermostat/__vm
/.vs/HOLODINO/v14
/Output-MicroBuild.txt
